

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&display=swap');
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body{
   width: 100vw;
   height: 150vh;
   background: linear-gradient(180deg, #1a1a1b, #20203c);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Inter", sans-serif;
   user-select: none;
}
h1{
   font-family: "Jersey 10", sans-serif;
   font-weight: normal;
   font-size: 3em;
   text-align: center;
   width: 100%;
   color: #fff;
}
p{
   font-size: 0.75em;
   color: #ababab;
   font-family: "Inter", sans-serif;
   text-transform: uppercase;
   width: 100%;
   text-align: center;
   letter-spacing: 5px;
}
h2{
   color: #ababab;
   font-family: "Inter", sans-serif;
   text-transform: uppercase;
   width: 100%;
   text-align: center;
   letter-spacing: 5px;
}
h3{
   font-family: "Jersey 10", sans-serif;
   font-weight: normal;
   font-size: 2em;
   text-align: center;
   width: 100%;
   color: #ababab;
}
.shop > section{
   width: 100%;
   height: 100px;
   background: none;
   border: #ffffff 2px solid;
   border-radius: 5px;
   box-shadow: 0px 0px 9px rgb(255 255 255 / 0.3);
   display: flex;
   align-items: center;
   justify-content: center;
}
button{
   font-family: "Inter", sans-serif;
   border: none;
   outline: none;
   background: none;
   text-align: center;
   letter-spacing: 5px;
   color: #fff;
   text-transform: uppercase;
   width: 100%;
   padding: 0px 5px;
   cursor: pointer;
}
.Rare{
   color: rgb(88, 128, 230);
}
.Mythic{
   color: rgb(8, 101, 171);
}
.Epic{
   color: rgb(224, 39, 141);
}
.Legendary{
   color: rgb(224, 39, 64);
}
.Platnum{
   color: rgb(141, 134, 135);
}
.Diamond{
   color: rgb(155, 214, 249);
}
.Gold{
   color: rgb(255, 204, 36);
}
.Chroma{
   color: rgb(45, 220, 255);
   text-shadow: 0 0 32px rgb(45, 220, 255 / 0.5);
}
.Bomb{
   color: rgb(255, 0, 0);
}
.regular{
   animation: none;
}
.clicked{
   animation: delay 5s linear;
}
.slap{
   animation: slap 2s ease-out;
}
@keyframes delay {
   0%, 99%{
       pointer-events: none;
       opacity: 0.5;
   }
   100%{
       pointer-events: all;
       opacity: 1;
   }
}
@keyframes move {
   0%{
       transform: translateY(-5px);
   }
   100%{
       transform: translateY(5px);
      
   }
}
@keyframes slap {
   0%{
       transform: scale(2);
       opacity: 0.3;
       filter: blur(2px);
   }
   70%{
       transform: scale(1);
       opacity: 1;
       filter: blur(0px);
   }
   90%{
       transform: scale(1.0525);
       opacity: 1;
       filter: blur(0px);
   }
   100%{
       transform: scale(1);
       opacity: 1;
       filter: blur(0px);
   }
}
